/* Basic Reset */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
div{
	background-color: #FFF2D7;
	margin-right: 0px;
	position: absolute;
	top:0px;
	right: 0px;
	width: 600px;
	height: 600px;
}

body {
 font-family: 'georgia', sans-serif;
 line-height: 1.6;
 padding: 20px;
 background-color: #981A31;
}
.header {
 text-align: center;
 margin-bottom: 20px;
}
.profile-img {
 width: 150px;
 height: auto;
 border-radius: 50%;
}
h1 {
 margin-top: 10px;
}
.bio, .projects {
 margin-bottom: 20px;
}
a {
 color: #333;
 text-decoration: none;
}
a:hover {
 text-decoration: underline;
}
footer {
 text-align: center;
 margin-top: 20px;
}

